<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MessageMapper">

    <sql id="Base_Column_List">
        id,user_id,role,content,time,reply
    </sql>

    <!--根据不同角色，查询同种类留言-->
    <select id="selectAll" resultType="com.example.entity.Message">
        select
        <include refid="Base_Column_List" />
        from message
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="content != null"> and content like concat('%', #{content}, '%')</if>
            <if test="userId != null"> and user_id = #{userId}</if>
            <if test="role != null"> and role = #{role}</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Message">
        select
        <include refid="Base_Column_List" />
        from message
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from message
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Message" useGeneratedKeys="true">
        insert into message
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="userId != null">user_id,</if>
                <if test="content != null">content,</if>
                <if test="time != null">time,</if>
                <if test="role != null">role,</if>
                <if test="reply != null">reply,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="userId != null">#{userId},</if>
                <if test="content != null">#{content},</if>
                <if test="time != null">#{time},</if>
                <if test="role != null">#{role},</if>
                <if test="reply != null">#{reply},</if>
        </trim>
    </insert>
    <!--user_id,role,content,time-->
    <update id="updateById" parameterType="com.example.entity.Message">
        update message
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="reply != null">
                reply = #{reply},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>